.menu__items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__item {
    margin-right: 3px;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    padding: 3px 7px;
    display: inline-block;
    background: #f3f3f3;

    &:hover {
        background: #000;
        color: #fff;
    }
}

.menu__link--active {
    background: #000;
    color: #fff;
}
